body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
    text-align: center;
    padding: 20px;
}


header {
    background-color: #b3e5fc;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #01579b;
    border-bottom: 2px solid #0277bd;
}


.container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1, h2 {
    color: #00695c;
}


form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #00695c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

/* Lista de odontólogos */
#odontologosContainer {
    margin-top: 20px;
}

.odontologo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #b3e5fc;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #01579b;
    font-size: 18px;
    border-top: 2px solid #0277bd;
}