<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odontologo</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header> 
        <h1>Clinica Odontologica</h1>
        <main class="tarjetas">
            <section class="container">
                <h2>Odontolgo</h2>
                <a href="odontologo.html"><button>Ver mas</button></a>
            </section>
    
            <section class="container">
                <h2>Paciente</h2>
                <a href="paciente.html"><button>Ver mas</button></a>
            </section>
    
        
            <section class="container">
                <h2>Turnos</h2>
                <a href="turno.html"><button>Ver mas</button></a>
            </section>
            
        </main>
        