<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gestio de Odontolgo</h1>
    <form id="odontologo-form"></form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" required>
        
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" required>
        
        <label for="especialidad">Especialidad:</label>
        <input type="text" id="especialidad" required>
        
        <button type="submit">Agregar Odontólogo</button>
    </form>

    <h2>Lista de Odontólogos</h2>
    <ul id="odontologo-list"></ul>
</body>
</html>